<div class="search-history-container">
  <form (ngSubmit)="onSearch()" class="search-form">
    <mat-form-field appearance="outline" class="search-field" subscriptSizing="dynamic">
      <mat-label>Search query</mat-label>
      <input [errorStateMatcher]="neverErrorStateMatcher"
             [formControl]="queryControl"
             matInput
             type="text"
      />
    </mat-form-field>
    <button [disabled]="queryControl.invalid" matButton="filled" type="submit">Search</button>
  </form>

  <h3>Recent Searches</h3>
  <ul class="history-list">
    @for (item of history(); track item.id) {
      <li>
        <span class="query">{{ item.query }}</span>
        <small class="date">{{ item.lastSeenAt | date: 'short' }}</small>
      </li>
    } @empty {
      <li>No recent searches</li>
    }
  </ul>
</div>
